@import 'src/assets/styles/_variables';

.menu {
  grid-area: menu;
}
.page {
  grid-area: page;
}

.wrapper {
  padding: 0 $grid-unit $grid-unit;
  display: grid;
  grid-gap: $grid-unit;
  grid-template-areas:
    'menu'
    'page';
}

@media (min-width: $tablet-width) {
  .wrapper {
    grid-template-columns: 100px 1fr;
    grid-template-areas:
      'menu page';
  }
}
