@import 'src/assets/styles/_variables';

.page-header {
  text-align: left;
  display: flex;
  flex-wrap: wrap;

  &--title,
  &--subtitle {
    width: 100%;
  }

  .filter {
    margin-right: $grid-unit;
  }
}
