@import 'src/assets/styles/_variables';

.product-grid {
  &__grid {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $grid-unit;
    margin-bottom: $grid-unit;

    @media (min-width: $phone-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
